body {
    background-color:WhiteSmoke;
}

div[id="container"] {
    width:100%;
    height:100%;
}

div[id="header"] {
    background-color:Thistle;
    width:100%;
    height:10%;
    float:left;
}

div[id="menu"] {
    width:15%;
    height:90%;
    background-color:LightYellow;
    float:left;
    position:relative;
}

div[id="innercontainer"] {
    width:85%;
    height:100%;
    float:left;
}

div[id="content"] {
    width:70%;
    height:40%;
    float:left;
}

div[id="sidebar"] {
    width:30%;
    height:100%;
    float:right;
    background-color:LightYellow;
}

div[id="result"] {
    width:70%;
    height:30%;
    float:left;
}

div[id="result2"] {
    width:70%;
    height:30%;
    float:left;
}

div[id="footer"] {
    bottom:0;
    width:100%;
    text-align:center;
}

a[class="menuhead"] {
    color: blue;
}

a[class="menuitem"]:link {
    text-decoration: none;
}

a[class="menuitem"]:visited {
    text-decoration: none;
}

a[class="menuitem"]:hover {
    text-decoration: underline;
}

a[class="menuitem"]:active {
    text-decoration: underline;
}
